<%- include('./layout/header.ejs'); %>
<div class="container-wrap">
   <aside id="fh5co-hero">
      <div class="flexslider">
         <ul class="slides">
            <li style="background-image: url(images/img_bg_1.jpg);">
               <div class="overlay-gradient"></div>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                        <div class="slider-text-inner">
                           <h1>Not Every Project Needs To Be Perfect</h1>
                           <h2>Free html5 templates Made by</h2>
                           <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li style="background-image: url(images/img_bg_2.jpg);">
               <div class="overlay-gradient"></div>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                        <div class="slider-text-inner">
                           <h1>WordPress Theme For People Who Tell Stories</h1>
                           <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                           <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li style="background-image: url(images/img_bg_3.jpg);">
               <div class="overlay-gradient"></div>
               <div class="container-fluids">
                  <div class="row">
                     <div class="col-md-6 col-md-offset-3 slider-text">
                        <div class="slider-text-inner text-center">
                           <h1>What Would You Like To Learn?</h1>
                           <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                           <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li style="background-image: url(images/img_bg_4.jpg);">
               <div class="overlay-gradient"></div>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                        <div class="slider-text-inner">
                           <h1>I Love to Tell My Story</h1>
                           <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                           <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </li>	   	
           </ul>
        </div>
   </aside>


   <div id="fh5co-work" class="fh5co-light-grey">
      <div class="row animate-box">
         <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Work</h2>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
         </div>
      </div>
      
      <div class="row">
         <% for(var i = users.length-1; i >= 0; i--) { %>
         <div class="col-md-4 text-center animate-box">
            <a href="/single-post/<%= users[i].id%>" class="work"  style="background-image: url(../photos/<%=users[i].blogPhoto%>)">
               <div class="desc">
                  <h3><%= users[i].title %></h3>
                  <span><%= users[i].desTitle %></span>
               </div>
            </a>
         </div>
         <% } %>
      </div>
   </div>
 
</div><!-- END container-wrap -->
      <%- include('./layout/footer.ejs'); %>